/*==========  Global  ==========*/
/*==========  Basics  ==========*/
/* html,
body {
  height: 100%;
} */
html {
  overflow-x: hidden;
}
body {
  background-color: #112c30;
  color: #ddd;
  overflow-x: hidden;
}
.time {
  background: #112c30;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #b9cfd0;
  font-family: "Roboto Slab", serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
.time a {
  color: #b9cfd0;
  text-decoration: none;
  border-bottom: 1px solid #b9cfd0;
}
.time h1,
.time h2,
.time h3,
.time h4,
.time h5,
.time h6 {
  font-family: "Comfortaa", cursive;
}

/*==========  Sections  ==========*/
.header {
  text-align: center;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(to bottom, #6fc7d4 0%, #39acbd 100%);
}
.header .master-head {
  padding: 0px 30px 7% 30px;
}
.header .page-title {
  padding: 0 30px 0 30px;
  font-size: 60px;
  line-height: 1em;
  letter-spacing: 10px;
  color: #fff;
}
.header .page-description {
  margin: 30px auto;
  max-width: 90%;
  font-size: 18px;
  line-height: 2em;
  color: #fff;
}
.header .scroll-button {
  color: #fff;
  font-size: 20px;
  padding: 15px 20px 15px 20px;
  display: inline-block;
  background: #3093a2;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header .scroll-button:hover {
  background: #246f7b;
}
.header .scroll-button:active {
  background: #194c53;
}
.main-content {
  margin: 0px auto;
  position: relative;
}
.main-content .section-inner,
.main-content .post-wrapper {
  *zoom: 1;
}
.main-content .section-inner:before,
.main-content .post-wrapper:before,
.main-content .section-inner:after,
.main-content .post-wrapper:after {
  content: "";
  display: table;
}
.main-content .section-inner:after,
.main-content .post-wrapper:after {
  clear: both;
}
.footer {
  background: #112c30;
  padding: 10px 0px 300px 0px;
  position: relative;
  display: flex;
  z-index: 1;
}
.footer .good-bye {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 36px;
}
.footer .good-bye p {
  display: block;
  margin: 0px auto 30px auto;
  max-width: 300px;
  clear: both;
}
.section .section-inner {
  margin: 0px auto;
  width: 1024px;
}
@media only screen {
  .section .section-inner {
    width: auto;
    max-width: 1024px;
  }
}
/*==========  Stem  ==========*/
.stem-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 50%;
}
.stem-wrapper.color-yellow .stem-background {
  background: #e9e566;
}
.stem-wrapper.color-green .stem-background {
  background: #35c189;
}
.stem-wrapper.color-white .stem-background {
  background: #fff;
}
.stem-wrapper .stem,
.stem-wrapper .stem-background {
  position: absolute;
  top: 0px;

  left: -30px;
  width: 60px;
}
.stem-wrapper .stem {
  background: #1e4f56;
  height: 100%;
}
.stem-wrapper .stem-background {
  background: #39acbd;
  height: 50%;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.stem-padding,
.single-stem-icon {
  width: 60px;
  height: 60px;
  margin: 0px auto;
  background: transparent
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/stem-mask.png)
    repeat-y top center;
}
.single-stem-icon.scroll-to-top {
  cursor: pointer;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/scroll-to-top-icon.png);
}
/*==========  Post wrapper ==========*/
.post-wrapper {
  *zoom: 1;
}
.post-wrapper:before,
.post-wrapper:after {
  content: "";
  display: table;
}
.post-wrapper:after {
  clear: both;
}
.post-wrapper .post {
  position: relative;
  width: 432px;
  padding: 0px 0px 60px 0px;
  clear: both;
  opacity: 1;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.post-wrapper .post.hidden .post-content {
  -webkit-transform: translateY(100px) rotateX(30deg);
  -moz-transform: translateY(100px) rotateX(30deg);
  -ms-transform: translateY(100px) rotateX(30deg);
  -o-transform: translateY(100px) rotateX(30deg);
  transform: translateY(100px) rotateX(30deg);
  opacity: 0;
}
.post-wrapper .post:hover .post-content,
.post-wrapper .post.active .post-content {
  opacity: 1;
}
.post-wrapper .post:hover .post-content .meta,
.post-wrapper .post.active .post-content .meta {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.post-wrapper .post:nth-child(even) {
  float: right;
}
.post-wrapper .post:nth-child(odd) {
  float: left;
}
.post-wrapper .post:nth-child(even) .stem-overlay {
  left: -110px;
}
.post-wrapper .post:nth-child(odd) .stem-overlay {
  right: -110px;
}
/* .post-wrapper .post.music-icon .stem-overlay .icon {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/music-icon.png);
} */
.post-wrapper .post.music-icon .stem-overlay .icon {
  background-image: url(/assets/images/ene.png);
}
.post-wrapper .post.bitbucket-icon .stem-overlay .icon {
  background-image: url(/assets/images/com.png);
}
.post-wrapper .post.m-icon .stem-overlay .icon {
  background-image: url(/assets/images/ckt.png);
}
.post-wrapper .post.twitter-icon .stem-overlay .icon {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/twitter-icon.png);
}
.post-wrapper .post .stem-overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 60px;
}
.post-wrapper .post .stem-overlay .icon {
  background: transparent no-repeat center center;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.post-wrapper .post .stem-overlay .stem-mask {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: transparent
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/22043/stem-mask.png)
    repeat-y top center;
}
.post-wrapper .post .post-content {
  opacity: 0.3;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.post-wrapper .post .post-content .meta {
  color: rgba(255, 255, 255, 0.3);
  margin: 0px 0px 15px 0px;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}
.post-wrapper .post .post-content .post-title {
  font-size: 32px;
  line-height: 42px;
  margin: 0px 0px 15px 0px;
}
/*==========  Media queries  ==========*/
@media only screen and (max-width: 1080px) {
  .main-content,
  .main-content .section-inner {
    max-width: none;
  }
  .stem-wrapper {
    left: 80px;
  }
  .stem-padding,
  .single-stem-icon {
    margin: 0px;
    float: left;
    margin-left: 50px;
  }
  .post-wrapper .post,
  .post-wrapper .post:nth-child(even),
  .post-wrapper .post:nth-child(odd) {
    width: auto;
    margin-left: 110px;
    float: none;
  }
  .post-wrapper .post .stem-overlay,
  .post-wrapper .post:nth-child(even) .stem-overlay,
  .post-wrapper .post:nth-child(odd) .stem-overlay {
    left: -60px;
    right: auto;
  }
  .post-wrapper .post .post-content {
    padding: 0px 50px;
  }
}
@media only screen and (max-width: 700px) {
  .header .page-title {
    font-size: 40px;
  }
  .post-wrapper .post {
    margin-left: 90px !important;
  }
  .post-wrapper .post .post-content {
    padding: 0 25px;
  }
  .stem-wrapper {
    left: 60px;
  }
  .stem-padding,
  .single-stem-icon {
    margin-left: 30px;
  }
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* ========navbar-toggler====== */
/* .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.menu-trigger span,
.menu-trigger span:before,
.menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.menu-trigger span,
.menu-trigger span:before,
.menu-trigger span:after {
  background-color: #1e1e1e;
}

.menu-trigger span:before,
.menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e1e1e;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.menu-trigger span:before,
.menu-trigger span:after {
  background-color: #1e1e1e;
}

.menu-trigger span:before,
.menu-trigger span:after {
  content: "";
}

.menu-trigger span {
  top: 16px;
}

.menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.menu-trigger.active span,
.menu-trigger.active span:before,
.menu-trigger.active span:after {
  background-color: transparent;
  width: 100%;
}

.menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #1e1e1e;
}

.menu-trigger.active span:before {
  background-color: #1e1e1e;
}

.menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #1e1e1e;
}

.menu-trigger.active span:after {
  background-color: #1e1e1e;
} */

/* Add a black background color to the top navigation */

.topnav {
  /* background-color: #333; */
  overflow: hidden;
  background-color: transparent;
  /* width: 100vw; */
  /* width: 100% !important; */
  /* float: right; */
  /* margin-right: 0; */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  /* padding-left: 35px;
  padding-right: 35px; */
  /* margin-left: 90px; */
}

/* Add an active class to highlight the current page */
.active {
  background-color: #112c30;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}
